.md-header, .md-tabs {
  background: linear-gradient(120deg, #155799, #159957);
}

.md-typeset h1 {
  font-weight: normal;
  color: #159957;
}

.md-typeset h2 {
  font-weight: normal;
  font-size: 1.5em;
  color: #159957;
}

.md-typeset h3 {
  font-weight: normal;
  font-size: 1.17em;
  color: #159957;
}

.md-typeset ul li,
.md-typeset ol li {
  margin-bottom: 3px;
}

.site-footer-copyright {
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-align: center;
    font-size: 17px;
}

.site-footer-logo {
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-align: center;

    img {
        max-height: 150px;
        width: auto;
        margin: -30px 0;
    }
}